<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @city.image_url %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @item.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @item.longitude %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @item.schedule %>
</p>

<p>
  <strong>City:</strong>
  <%= @item.city_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
